<tr id="conversation-<%= conversation.id %>">
  <td> <%= conversation.person_name %> </td>
  <td> <%= conversation.person_mobile %> </td>
  <td class="person_city-<%= conversation.id %>"> <%= conversation.person_city %> </td>
  <td class="topic_name-<%= conversation.id %>"> <%= conversation.topic_name %> </td>
  <td> <%= conversation.last_message_body %> </td>
  <td class="last_message_at-<%= conversation.id %>"> <%= conversation.last_message_at %> </td>
  <td> <%= conversation.last_contact_name %> </td>
</tr>