<h1>Conversations</h1>

<hr>

<%= link_to 'Show all conversations', root_path, id: 'all_conversations' %>
<%= link_to 'Show conversations without Last Contact', root_path(without_last_contact: true), id: 'conversations_without_last_contact' %>

<hr>

<%= form_tag(root_path, method: :get) do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Search Conversations' %>
  <%= submit_tag 'Search', id: 'search_button' %>
<% end %>

<hr>

<table id="conversations" data-conversations-count="<%= @conversations.count %>">
  <tr>
    <th>Name</th>
    <th>Mobile</th>
    <th>City</th>
    <th>Topic Name</th>
    <th>Last Message</th>
    <th>Last Message At</th>
    <th>Last Contact</th>
  </tr>

  <%= render @conversations %>
</table>

<%= will_paginate @conversations %>
